table {  
  font-family: Georgia, serif;
  margin-bottom: 0px !important;
}

body {
    margin: 0;
}

tbody {
  text-align: left;
}

tr {
    background-color:#edeae6 ;
}

tr:first-of-type {
    background-color: #dbd8d3;
}

th,
td {
  border: 1px solid black;
  padding: 3px 2px;
  min-width: 150px;
}

.active {
  background-color: #4caf50;
}

.custom-navbar {
    background-color: #333;
}
